<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 background-nav ">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Reservation Management</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="javascript:void(0)" routerLink="/admin/dashboard"
                            class="nav-link text-light align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">{{'DASHBOARD'|translate}}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" routerLink="/admin/manage-owner"
                            class="nav-link text-light px-0 align-middle">
                            <i class="fs-4 bi bi-person"></i> <span class="ms-1 d-none d-sm-inline">Manage Owner</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" routerLink="/admin/manage-ota"
                            class="nav-link text-light px-0 align-middle">
                            <i class="fs-4 bi bi-building-fill"></i> <span class="ms-1 d-none d-sm-inline">MANAGE OTA</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" routerLink="/admin/change_password"
                            class="nav-link text-light px-0 align-middle">
                            <i class="fs-4 bi bi-lock-fill"></i> <span class="ms-1 d-none d-sm-inline">{{'CHANGE_PASSWORD'|translate}}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" (click)="logout()" class="nav-link text-light px-0 align-middle">
                            <i class="fs-4 bi bi-door-closed"></i> <span class="ms-1 d-none d-sm-inline">{{'LOGOUT'|translate}}</span></a>
                    </li>
                    <li>
                       <!-- <app-custom-translation></app-custom-translation> -->
                    </li>
                    <!-- <li>
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span> </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="javascript:void(0)" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 3</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 4</a>
                            </li>
                        </ul>
                    </li> -->
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="row py-1 background-nav ">
                <div class="col-sm-12 text-end">
                    <div class="text-light fs-4">Hi, {{loggedUserData.user_name|titlecase}}</div>
                    <div class="text-light">
                        (
                        <small class="text-light">Last Login : {{loggedUserData.last_login_time|date:'dd MMMM yyyy, HH:mm' }}</small>
                        <!-- <small class="text-light">, User Name : {{loggedUserData.user_name}}</small> -->
                        <!-- <small class="text-light">, Role : {{loggedUserData.role_name}}</small> -->
                        )
                    </div>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-sm-2 my-2 w-auto">
                    <select class="form-select rounded-pill shadow" (change)="changeLang($event)">
                        <option value="null" [selected]="true" disabled>Select Lang...</option>
                        <option value="en">English</option>
                        <option value="es">Spanish</option>
                        <!-- <option value="ni">Nigeria</option> -->
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>

