<ng-container>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 background-nav ">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">E2X InfoTech</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a href="javascript:void(0)" routerLink="/owner/dashboard"
                                class="nav-link text-light align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">{{'DASHBOARD'|translate}}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" routerLink="/owner/manage-property"
                                class="nav-link text-light px-0 align-middle">
                                <i class="fs-4 bi bi-building-fill"></i> <span class="ms-1 d-none d-sm-inline">Manage Property</span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" routerLink="/owner/user_setting"
                                class="nav-link text-light px-0 align-middle">
                                <i class="fs-4 bi bi-person-gear"></i> <span class="ms-1 d-none d-sm-inline">Default user Setting</span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" routerLink="/owner/owner-setting"
                                class="nav-link text-light px-0 align-middle">
                                <i class="fs-4 bi bi-person-gear"></i> <span class="ms-1 d-none d-sm-inline">Profile Setting</span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" routerLink="/owner/change_password"
                                class="nav-link text-light px-0 align-middle">
                                <i class="fs-4 bi bi-lock-fill"></i> <span class="ms-1 d-none d-sm-inline">{{'CHANGE_PASSWORD'|translate}}</span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" routerLink="/owner/e_mail"
                                class="nav-link text-light px-0 align-middle">
                                <i class="fs-4 bi bi-envelope"></i> <span class="ms-1 d-none d-sm-inline">{{'TEMPLATE'|translate}}</span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="logout()" class="nav-link text-light px-0 align-middle">
                                <i class="fs-4 bi bi-door-closed"></i> <span class="ms-1 d-none d-sm-inline">{{'LOGOUT'|translate}}</span></a>
                        </li>
                        <li>
                           <!-- <app-custom-translation></app-custom-translation> -->
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col table-responsive">
                <div class="row py-1 background-nav ">
                    <div class="col-sm-12 text-end">
                        <div class="text-light fs-4">Hi, {{loggedUserData.user_name|titlecase}}</div>
                        <div class="text-light">
                            (
                            <small class="text-light">Last Login : {{loggedUserData.last_login_time|date:'dd MMMM yyyy, HH:mm' }}</small>
                            <!-- <small class="text-light">, User Name : {{loggedUserData.user_name}}</small> -->
                            <!-- <small class="text-light">, Role : {{loggedUserData.role_name}}</small> -->
                            )
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-sm-2 my-2 w-auto">
                        <select class="form-select rounded-pill shadow" (change)="changeLang($event)">
                            <option value="null" [selected]="true" disabled>Select Lang...</option>
                            <option value="en">English</option>
                            <option value="es">Spanish</option>
                            <!-- <option value="ni">Nigeria</option> -->
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
</ng-container>