<div class="container-fluid">
  <div class="row mb-3 justify-content-around align-items-center calendar-header ">

  </div>

  <div class="row mb-4 justify-content-between">
    <div class="col-sm-3">
      <div class="d-flex">
        <div class="d-block border-top text-light rounded shadow bg-primary p-2">Date Range</div>
        <input type="date" id="date" class="form-control-sm mx-4" [value]="this.formatDate(todayDate)"
          (change)="selectedDate($event)">
      </div>
    </div>
    <div class="col-sm-6"></div>
  </div>
  <div class="container-fluid text-center" *ngIf="!loader && mainData.length == 0">
    <div class="display-1">No Rooms Found</div>
  </div>
  <div class="container-fluid" *ngIf="!loader">
    <div class="row my-2" style="background-color: lightblue; color: white;">
      <ng-container>
        <div class="row  mb-1 d-flex justify-content-between align-items-center pt-2">
          <div class="col-sm-1 "></div>
          <div class="col-sm-3"> <span class="bi bi-arrow-left-square text-danger"
              style="font-size: 30px;cursor: pointer;" (click)="previousMonth()">
            </span>
          </div>
          <div class="col-sm-3">
            <div class="month">{{ currentMonth }}</div>
          </div>
          <div class="col-sm-3 text-end"> <small class="lead me-1">{{nextDisplayMonth}}</small> <span
              class="bi bi-arrow-right-square text-danger" style="font-size: 30px;cursor: pointer;"
              (click)="nextMonth()"></span></div>
        </div>
        
        <div class="table-responsive ">
          <table class="table table-bordered table-sm shadow p-3 mb-3 calendar-table">
            <thead>
              <tr>
                <th>Room</th>
                <th *ngFor="let day of weekdaysWithDates">{{ day.weekday }} <br> {{ day.date }}</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let group of mainData; let groupIndex = index">
                <tr>
                  <td [attr.colspan]="weekdaysWithDates.length + 1" class="group-name">Group {{ group.group }}</td>
                </tr>
                <ng-container *ngFor="let room of group.data.pmsRoomList;let roomIdx=index">
                  <tr>
                    <td class="px-3 pms_name d-block text-ellipsis">PMS - {{ room.pmsName }}</td>
                    <ng-container *ngFor="let date of datesData; let dateIndex = index; let last = last;">
                      <td class="hover-td {{dateIndex}}" [ngClass]="{'last-td': last}"
                        [class.clash]="hasClashReservation(room, date)"
                         [class.disabled]="date.isDatePassed"
                        (drop)="drop($event)" 
                        (dragover)="allowDrop($event)"
                         [id]="'td'+groupIndex+roomIdx+dateIndex">
                        <ng-container *ngIf="hasReservation(room, date)"> 
                          <div class="reservation">
                                              <img class="reservation-image"
                                                   [src]="getReservationImage(room, date)" 
                                                   [width]="getReservationDaysWidth(room, date)*60"
                                                   height="67"
                                                   [draggable]="true"
                                                   (dragstart)="drag($event)"
                                                   [id]="'td'+groupIndex+roomIdx+dateIndex"
                                                   alt="">
                                                   <div class="reservation-info">
                                                    <div>{{ getReservationCustomerName(room, date)}}</div>
                                                    <div>Check-in: {{ getReservationData(room, date)?.checkin }}</div>
                                                    <div>Check-out: {{ getReservationData(room, date)?.checkout }}</div>
                                                    <div>Reservation: {{ getReservationData(room, date)?.reservation }}</div>
                                                  </div>
                                          </div>
                        </ng-container>
                      </td>
                    </ng-container>
                  </tr>
                </ng-container>
              </ng-container>
            </tbody>
          </table>
        </div>