<div class="container p-3 shadow my-3 w-50">
    <div class="form-group row ">
        <label class="col-sm-3 col-form-label" for="usedType">Existing Password</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" [(ngModel)]="changePassConfig.existing_pass">
        </div>
    </div>
    <div class="form-group row my-2">
        <label class="col-sm-3 col-form-label" for="usedType">New Password</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" [(ngModel)]="changePassConfig.new_pass">
        </div>
    </div>
    <div class="row my-2">
        <div class="col-sm-12 d-flex">
            <button type="button" class="btn btn-primary btn-sm" [disabled]="loader" (click)="changePassword()">Change</button>
            <div class="spinner-border text-success mx-2" *ngIf="loader"></div>
        </div>
    </div>
</div>