<fieldset class="container p-3 shadow my-3 w-50">
        <legend class="float-none w-auto"> <button class="btn text-light btn-primary rounded-0 ">Change Password
            </button> </legend>
    <div class="form-group row ">
        <label class="col-sm-3 col-form-label" for="usedType">Existing Password <span class="text-danger">*</span></label>
        <div class="col-sm-9">
            <div class="input-group">
                <input [type]="showPassword ? 'text':'password'" class="form-control" [(ngModel)]="changePassConfig.existing_pass">
                <span class="input-group-text" id="basic-addon1" (click)="showPassword=!showPassword">
                    <i class="bi bi-eye-slash" [ngClass]="{'bi-eye': showPassword}" ></i>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group row my-2">
        <label class="col-sm-3 col-form-label" for="new">New Password <span class="text-danger">*</span></label>
        <div class="col-sm-9">
            <input type="text" id="new" class="form-control" (input)="validatePass()"
                [(ngModel)]="changePassConfig.new_pass">
            <div class="small text-danger" *ngIf="error.hasError">{{error.errorMsg}}</div>
        </div>
    </div>
    <div class="form-group row my-2">
        <label class="col-sm-3 col-form-label" for="confirmPass">Confirm Password <span class="text-danger">*</span></label>
        <div class="col-sm-9">
            <input type="text" id="confirmPass" class="form-control" (input)="comparePassword()"
                [(ngModel)]="confirmPass">
            <div class="small text-danger" *ngIf="error.confirmError">{{error.confirmErrorMsg}}</div>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-sm-12 d-flex">
            <button type="button" class="btn btn-primary btn-sm" [disabled]="loader||error.hasError||error.confirmError"
                (click)="changePassword()">Change</button>
            <div class="spinner-border text-success mx-2" *ngIf="loader"></div>
        </div>
    </div>
</fieldset>
