<div class="container-fluid" *ngIf="!showModal.ota">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12">
            <div class="table-wrapper shadow">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <span class="title">OTA List</span>
                        </div>
                        <div class="col-sm-6">
                            <a href="javascript:void(0);" (click)="openModal()" class="btn btn-success"
                                data-toggle="modal"><span>Add OTA Detail</span></a>
                        </div>
                    </div>
                </div>
                <table class="table table-shadow table-lg table-striped table-hover">
                    <thead class="thead-dark">
                        <tr class="table-row-rooms">
                            <th>ID</th>
                            <th>OTA Name</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="loader">
                            <td class="tg-cly1">
                            </td>
                            <td class="tg-cly1">
                            </td>
                            <td class="tg-cly1">
                            </td>
                            <td class="tg-cly1">
                            </td>
                        </tr>
                        <ng-container *ngIf="otaList.length>0 && !loader">

                            <tr *ngFor="let item of otaList;let idx = index;" class="text-center align-middle">
                                <td>{{item.id}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.status == 1 ? 'Active' :'InActive'}}</td>
                                <td>
                                    <div class="dropdown">
                                        <i class="btn btn-light btn-sm bi bi-three-dots-vertical"
                                            (click)="showDropDown(idx)"></i>
                                        <div class="dropdown-menu d-block" (mouseleave)="showActionDropDown[idx]=false;"
                                            *ngIf="showActionDropDown[idx]">
                                            <!-- <a class="dropdown-item">Change Status</a> -->
                                            <a class="dropdown-item" (click)="editOwnerOpenModal(item)">Edit OTA</a>
                                            <!-- <a class="dropdown-item" (click)="deleteotaModal(item.owner_id,idx)">Delete</a> -->
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<ng-container *ngIf="showModal.ota">
    <div class="my-3 ms-2 d-flex justify-content-between ">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0);" class="text-decoration-none "
                        (click)="backToManageOta()">Back to Manage OTA</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{isEditModal? 'Edit':'Add'}} OTA</li>
            </ol>
        </nav>
    </div>
    <div class="shadow p-4 rounded bg-white" [formGroup]="otaModal">
        <div class="row mb-2">

            <div class="col-6">
                <fieldset class="border p-2">
                    <legend class="float-none w-auto"> <button class="btn btn-sm text-light btn-primary ">General Info
                        </button> </legend>

                    <div class="form-group row mb-2">
                        <label for="propertyName" class="col-sm-3 col-form-label">Name <span class="text-danger">*</span></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="name"
                                [class.is-invalid]="otaModal.controls.name.dirty && otaModal.controls.name.errors?.['required']">
                            <small *ngIf="otaModal.controls.name.dirty && otaModal.controls.name.errors?.['required']"
                                class="text-danger">Required</small>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="propertyName" class="col-sm-3 col-form-label">Site Def User</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="site_def_user"
                                [class.is-invalid]="(otaModal.controls.site_def_user.dirty && otaModal.controls.site_def_user.errors?.['required']) || (otaModal.controls.site_def_user.dirty && otaModal.controls.site_def_user.errors?.['pattern'])">
                            <small
                                *ngIf="otaModal.controls.site_def_user.dirty && otaModal.controls.site_def_user.errors?.['required']"
                                class="text-danger">Required</small>
                            <small
                                *ngIf="otaModal.controls.site_def_user.dirty && otaModal.controls.site_def_user.errors?.['pattern']"
                                class="text-danger">Only Number</small>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="propertyName" class="col-sm-3 col-form-label">Site Def Pass</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" formControlName="site_def_passw"
                                [class.is-invalid]="(otaModal.controls.site_def_passw.dirty && otaModal.controls.site_def_passw.errors?.['required']) || (otaModal.controls.site_def_passw.dirty && otaModal.controls.site_def_passw.errors?.['pattern'])">
                            <small
                                *ngIf="otaModal.controls.site_def_passw.dirty && otaModal.controls.site_def_passw.errors?.['required']"
                                class="text-danger">Required</small>
                            <small
                                *ngIf="otaModal.controls.site_def_passw.dirty && otaModal.controls.site_def_passw.errors?.['pattern']"
                                class="text-danger">Only Number</small>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="propertyName" class="col-sm-3 col-form-label">Default Passkey</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="default_passkey"
                                [class.is-invalid]="(otaModal.controls.default_passkey.dirty && otaModal.controls.default_passkey.errors?.['required']) || (otaModal.controls.default_passkey.dirty && otaModal.controls.default_passkey.errors?.['pattern'])">
                            <small
                                *ngIf="otaModal.controls.default_passkey.dirty && otaModal.controls.default_passkey.errors?.['required']"
                                class="text-danger">Required</small>
                            <small
                                *ngIf="otaModal.controls.default_passkey.dirty && otaModal.controls.default_passkey.errors?.['pattern']"
                                class="text-danger">Only Number</small>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="propertyName" class="col-sm-3 col-form-label">IP White List</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="ip_whitelist"
                                [class.is-invalid]="(otaModal.controls.ip_whitelist.dirty && otaModal.controls.ip_whitelist.errors?.['required']) || (otaModal.controls.ip_whitelist.dirty && otaModal.controls.ip_whitelist.errors?.['pattern'])">
                            <small
                                *ngIf="otaModal.controls.ip_whitelist.dirty && otaModal.controls.ip_whitelist.errors?.['required']"
                                class="text-danger">Required</small>
                            <small
                                *ngIf="otaModal.controls.ip_whitelist.dirty && otaModal.controls.ip_whitelist.errors?.['pattern']"
                                class="text-danger">Only Number</small>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="propertyName" class="col-sm-3 col-form-label">Push Flag</label>
                        <div class="col-sm-9">
                            <select formControlName="push_flag" class="form-select"
                                [class.is-invalid]="(otaModal.controls.push_flag.dirty && otaModal.controls.push_flag.errors?.['required']) || (otaModal.controls.push_flag.dirty && otaModal.controls.push_flag.errors?.['pattern'])">
                                <option value="" [hidden]="true">Select</option>
                                <option [value]="1">Yes</option>
                                <option [value]="0">No</option>
                            </select>
                            <small
                                *ngIf="otaModal.controls.push_flag.dirty && otaModal.controls.push_flag.errors?.['required']"
                                class="text-danger">Required</small>
                            <small
                                *ngIf="otaModal.controls.push_flag.dirty && otaModal.controls.push_flag.errors?.['pattern']"
                                class="text-danger">Only Number</small>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="propertyName" class="col-sm-3 col-form-label">Pull Delay</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="pull_delay"
                                [class.is-invalid]="(otaModal.controls.pull_delay.dirty && otaModal.controls.pull_delay.errors?.['required']) || (otaModal.controls.pull_delay.dirty && otaModal.controls.pull_delay.errors?.['pattern'])">
                            <small
                                *ngIf="otaModal.controls.pull_delay.dirty && otaModal.controls.pull_delay.errors?.['required']"
                                class="text-danger">Required</small>
                            <small
                                *ngIf="otaModal.controls.pull_delay.dirty && otaModal.controls.pull_delay.errors?.['pattern']"
                                class="text-danger">Only Number</small>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="propertyName" class="col-sm-3 col-form-label">Pull Priority</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="pull_priority"
                                [class.is-invalid]="(otaModal.controls.pull_priority.dirty && otaModal.controls.pull_priority.errors?.['required']) || (otaModal.controls.pull_priority.dirty && otaModal.controls.pull_priority.errors?.['pattern'])">
                            <small
                                *ngIf="otaModal.controls.pull_priority.dirty && otaModal.controls.pull_priority.errors?.['required']"
                                class="text-danger">Required</small>
                            <small
                                *ngIf="otaModal.controls.pull_priority.dirty && otaModal.controls.pull_priority.errors?.['pattern']"
                                class="text-danger">Only Number</small>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="propertyName" class="col-sm-3 col-form-label">Online Doc Url</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="online_doc_url"
                                [class.is-invalid]="(otaModal.controls.online_doc_url.dirty && otaModal.controls.online_doc_url.errors?.['required']) || (otaModal.controls.online_doc_url.dirty && otaModal.controls.online_doc_url.errors?.['pattern'])">
                            <small
                                *ngIf="otaModal.controls.online_doc_url.dirty && otaModal.controls.online_doc_url.errors?.['required']"
                                class="text-danger">Required</small>
                            <small
                                *ngIf="otaModal.controls.online_doc_url.dirty && otaModal.controls.online_doc_url.errors?.['pattern']"
                                class="text-danger">Only Number</small>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-6">
                <fieldset class="border p-2">
                    <legend class="float-none w-auto"> <button class="btn btn-sm text-light btn-primary ">Functionality
                        </button> </legend>

                    <div class="form-group row mb-2">
                        <label for="propertyName" class="col-sm-3 col-form-label">Room Import Exist</label>
                        <div class="col-sm-9">
                            <select formControlName="roomimport_exists" class="form-select"
                                [class.is-invalid]="(otaModal.controls.roomimport_exists.dirty && otaModal.controls.roomimport_exists.errors?.['required']) || (otaModal.controls.roomimport_exists.dirty && otaModal.controls.roomimport_exists.errors?.['pattern'])">
                                <option value="" [hidden]="true">Select</option>
                                <option [value]="1">Yes</option>
                                <option [value]="0">No</option>
                            </select>
                            <small
                                *ngIf="otaModal.controls.roomimport_exists.dirty && otaModal.controls.roomimport_exists.errors?.['required']"
                                class="text-danger">Required</small>
                            <small
                                *ngIf="otaModal.controls.roomimport_exists.dirty && otaModal.controls.roomimport_exists.errors?.['pattern']"
                                class="text-danger">Only Number</small>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="propertyName" class="col-sm-3 col-form-label">Calendar Exist</label>
                        <div class="col-sm-9">
                            <select formControlName="calendar_exists" class="form-select"
                                [class.is-invalid]="(otaModal.controls.calendar_exists.dirty && otaModal.controls.calendar_exists.errors?.['required']) || (otaModal.controls.calendar_exists.dirty && otaModal.controls.calendar_exists.errors?.['pattern'])">
                                <option value="" [hidden]="true">Select</option>
                                <option [value]="1">Yes</option>
                                <option [value]="0">No</option>
                            </select>
                            <small
                                *ngIf="otaModal.controls.calendar_exists.dirty && otaModal.controls.calendar_exists.errors?.['required']"
                                class="text-danger">Required</small>
                            <small
                                *ngIf="otaModal.controls.calendar_exists.dirty && otaModal.controls.calendar_exists.errors?.['pattern']"
                                class="text-danger">Only Number</small>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="propertyName" class="col-sm-3 col-form-label">Reservation Exist</label>
                        <div class="col-sm-9">
                            <select formControlName="reservation_exists" class="form-select"
                                [class.is-invalid]="(otaModal.controls.reservation_exists.dirty && otaModal.controls.reservation_exists.errors?.['required']) || (otaModal.controls.reservation_exists.dirty && otaModal.controls.reservation_exists.errors?.['pattern'])">
                                <option value="" [hidden]="true">Select</option>
                                <option [value]="1">Yes</option>
                                <option [value]="0">No</option>
                            </select>
                            <small
                                *ngIf="otaModal.controls.reservation_exists.dirty && otaModal.controls.reservation_exists.errors?.['required']"
                                class="text-danger">Required</small>
                            <small
                                *ngIf="otaModal.controls.reservation_exists.dirty && otaModal.controls.reservation_exists.errors?.['pattern']"
                                class="text-danger">Only Number</small>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="propertyName" class="col-sm-3 col-form-label">Review Exist</label>
                        <div class="col-sm-9">
                            <select formControlName="review_exists" class="form-select"
                                [class.is-invalid]="(otaModal.controls.review_exists.dirty && otaModal.controls.review_exists.errors?.['required']) || (otaModal.controls.review_exists.dirty && otaModal.controls.review_exists.errors?.['pattern'])">
                                <option value="" [hidden]="true">Select</option>
                                <option [value]="1">Yes</option>
                                <option [value]="0">No</option>
                            </select>
                            <small
                                *ngIf="otaModal.controls.review_exists.dirty && otaModal.controls.review_exists.errors?.['required']"
                                class="text-danger">Required</small>
                            <small
                                *ngIf="otaModal.controls.review_exists.dirty && otaModal.controls.review_exists.errors?.['pattern']"
                                class="text-danger">Only Number</small>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="propertyName" class="col-sm-3 col-form-label">Promotion Exist</label>
                        <div class="col-sm-9">
                            <select formControlName="promotion_exists" class="form-select"
                                [class.is-invalid]="(otaModal.controls.promotion_exists.dirty && otaModal.controls.promotion_exists.errors?.['required']) || (otaModal.controls.promotion_exists.dirty && otaModal.controls.promotion_exists.errors?.['pattern'])">
                                <option value="" [hidden]="true">Select</option>
                                <option [value]="1">Yes</option>
                                <option [value]="0">No</option>
                            </select>
                            <small
                                *ngIf="otaModal.controls.promotion_exists.dirty && otaModal.controls.promotion_exists.errors?.['required']"
                                class="text-danger">Required</small>
                            <small
                                *ngIf="otaModal.controls.promotion_exists.dirty && otaModal.controls.promotion_exists.errors?.['pattern']"
                                class="text-danger">Only Number</small>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="propertyName" class="col-sm-3 col-form-label">Content Exist</label>
                        <div class="col-sm-9">
                            <select formControlName="content_exists" class="form-select"
                                [class.is-invalid]="(otaModal.controls.content_exists.dirty && otaModal.controls.content_exists.errors?.['required']) || (otaModal.controls.content_exists.dirty && otaModal.controls.content_exists.errors?.['pattern'])">
                                <option value="" [hidden]="true">Select</option>
                                <option [value]="1">Yes</option>
                                <option [value]="0">No</option>
                            </select>
                            <small
                                *ngIf="otaModal.controls.content_exists.dirty && otaModal.controls.content_exists.errors?.['required']"
                                class="text-danger">Required</small>
                            <small
                                *ngIf="otaModal.controls.content_exists.dirty && otaModal.controls.content_exists.errors?.['pattern']"
                                class="text-danger">Only Number</small>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="propertyName" class="col-sm-3 col-form-label">Message Exist</label>
                        <div class="col-sm-9">
                            <select formControlName="message_exists" class="form-select"
                                [class.is-invalid]="(otaModal.controls.message_exists.dirty && otaModal.controls.message_exists.errors?.['required']) || (otaModal.controls.message_exists.dirty && otaModal.controls.message_exists.errors?.['pattern'])">
                                <option value="" [hidden]="true">Select</option>
                                <option [value]="1">Yes</option>
                                <option [value]="0">No</option>
                            </select>
                            <small
                                *ngIf="otaModal.controls.message_exists.dirty && otaModal.controls.message_exists.errors?.['required']"
                                class="text-danger">Required</small>
                            <small
                                *ngIf="otaModal.controls.message_exists.dirty && otaModal.controls.message_exists.errors?.['pattern']"
                                class="text-danger">Only Number</small>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-6">
                <fieldset class="border p-2">
                    <legend class="float-none w-auto"> <button class="btn btn-sm text-light btn-primary ">Setting
                        </button> </legend>

                    <div class="form-group row mb-2">
                        <label for="propertyName" class="col-sm-3 col-form-label">Room Import Active</label>
                        <div class="col-sm-9">
                            <select formControlName="roomimport_active" class="form-select"
                                [class.is-invalid]="(otaModal.controls.roomimport_active.dirty && otaModal.controls.roomimport_active.errors?.['required']) || (otaModal.controls.roomimport_active.dirty && otaModal.controls.roomimport_active.errors?.['pattern'])">
                                <option value="" [hidden]="true">Select</option>
                                <option [value]="1">Yes</option>
                                <option [value]="0">No</option>
                            </select>
                            <small
                                *ngIf="otaModal.controls.roomimport_active.dirty && otaModal.controls.roomimport_active.errors?.['required']"
                                class="text-danger">Required</small>
                            <small
                                *ngIf="otaModal.controls.roomimport_active.dirty && otaModal.controls.roomimport_active.errors?.['pattern']"
                                class="text-danger">Only Number</small>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="propertyName" class="col-sm-3 col-form-label">Calendar Active</label>
                        <div class="col-sm-9">
                            <select formControlName="calendar_active" class="form-select"
                                [class.is-invalid]="(otaModal.controls.calendar_active.dirty && otaModal.controls.calendar_active.errors?.['required']) || (otaModal.controls.calendar_active.dirty && otaModal.controls.calendar_active.errors?.['pattern'])">
                                <option value="" [hidden]="true">Select</option>
                                <option [value]="1">Yes</option>
                                <option [value]="0">No</option>
                            </select>
                            <small
                                *ngIf="otaModal.controls.calendar_active.dirty && otaModal.controls.calendar_active.errors?.['required']"
                                class="text-danger">Required</small>
                            <small
                                *ngIf="otaModal.controls.calendar_active.dirty && otaModal.controls.calendar_active.errors?.['pattern']"
                                class="text-danger">Only Number</small>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="propertyName" class="col-sm-3 col-form-label">Reservation Active</label>
                        <div class="col-sm-9">
                            <select formControlName="reservation_active" class="form-select"
                                [class.is-invalid]="(otaModal.controls.reservation_active.dirty && otaModal.controls.reservation_active.errors?.['required']) || (otaModal.controls.reservation_active.dirty && otaModal.controls.reservation_active.errors?.['pattern'])">
                                <option value="" [hidden]="true">Select</option>
                                <option [value]="1">Yes</option>
                                <option [value]="0">No</option>
                            </select>
                            <small
                                *ngIf="otaModal.controls.reservation_active.dirty && otaModal.controls.reservation_active.errors?.['required']"
                                class="text-danger">Required</small>
                            <small
                                *ngIf="otaModal.controls.reservation_active.dirty && otaModal.controls.reservation_active.errors?.['pattern']"
                                class="text-danger">Only Number</small>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="propertyName" class="col-sm-3 col-form-label">Review Active</label>
                        <div class="col-sm-9">
                            <select formControlName="review_active" class="form-select"
                                [class.is-invalid]="(otaModal.controls.review_active.dirty && otaModal.controls.review_active.errors?.['required']) || (otaModal.controls.review_active.dirty && otaModal.controls.review_active.errors?.['pattern'])">
                                <option value="" [hidden]="true">Select</option>
                                <option [value]="1">Yes</option>
                                <option [value]="0">No</option>
                            </select>
                            <small
                                *ngIf="otaModal.controls.review_active.dirty && otaModal.controls.review_active.errors?.['required']"
                                class="text-danger">Required</small>
                            <small
                                *ngIf="otaModal.controls.review_active.dirty && otaModal.controls.review_active.errors?.['pattern']"
                                class="text-danger">Only Number</small>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="propertyName" class="col-sm-3 col-form-label">Promotion Active</label>
                        <div class="col-sm-9">
                            <select formControlName="promotion_active" class="form-select"
                                [class.is-invalid]="(otaModal.controls.promotion_active.dirty && otaModal.controls.promotion_active.errors?.['required']) || (otaModal.controls.promotion_active.dirty && otaModal.controls.promotion_active.errors?.['pattern'])">
                                <option value="" [hidden]="true">Select</option>
                                <option [value]="1">Yes</option>
                                <option [value]="0">No</option>
                            </select>
                            <small
                                *ngIf="otaModal.controls.promotion_active.dirty && otaModal.controls.promotion_active.errors?.['required']"
                                class="text-danger">Required</small>
                            <small
                                *ngIf="otaModal.controls.promotion_active.dirty && otaModal.controls.promotion_active.errors?.['pattern']"
                                class="text-danger">Only Number</small>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="propertyName" class="col-sm-3 col-form-label">Content Active</label>
                        <div class="col-sm-9">
                            <select formControlName="content_active" class="form-select"
                                [class.is-invalid]="(otaModal.controls.content_active.dirty && otaModal.controls.content_active.errors?.['required']) || (otaModal.controls.content_active.dirty && otaModal.controls.content_active.errors?.['pattern'])">
                                <option value="" [hidden]="true">Select</option>
                                <option [value]="1">Yes</option>
                                <option [value]="0">No</option>
                            </select>
                            <small
                                *ngIf="otaModal.controls.content_active.dirty && otaModal.controls.content_active.errors?.['required']"
                                class="text-danger">Required</small>
                            <small
                                *ngIf="otaModal.controls.content_active.dirty && otaModal.controls.content_active.errors?.['pattern']"
                                class="text-danger">Only Number</small>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="propertyName" class="col-sm-3 col-form-label">Message Active</label>
                        <div class="col-sm-9">
                            <select formControlName="message_active" class="form-select"
                                [class.is-invalid]="(otaModal.controls.message_active.dirty && otaModal.controls.message_active.errors?.['required']) || (otaModal.controls.message_active.dirty && otaModal.controls.message_active.errors?.['pattern'])">
                                <option value="" [hidden]="true">Select</option>
                                <option [value]="1">Yes</option>
                                <option [value]="0">No</option>
                            </select>
                            <small
                                *ngIf="otaModal.controls.message_active.dirty && otaModal.controls.message_active.errors?.['required']"
                                class="text-danger">Required</small>
                            <small
                                *ngIf="otaModal.controls.message_active.dirty && otaModal.controls.message_active.errors?.['pattern']"
                                class="text-danger">Only Number</small>
                        </div>
                    </div>

                </fieldset>
            </div>
            <div class="col-6">
                <fieldset class="border p-2">
                    <legend class="float-none w-auto"> <button class="btn btn-sm text-light btn-primary ">Calendar Function
                        </button> </legend>

                    <div class="form-group row mb-2">
                        <label for="propertyName" class="col-sm-3 col-form-label">Alotment</label>
                        <div class="col-sm-9">
                            <select formControlName="alotment" class="form-select"
                                [class.is-invalid]="(otaModal.controls.alotment.dirty && otaModal.controls.alotment.errors?.['required']) || (otaModal.controls.alotment.dirty && otaModal.controls.alotment.errors?.['pattern'])">
                                <option value="" [hidden]="true">Select</option>
                                <option [value]="1">Yes</option>
                                <option [value]="0">No</option>
                            </select>
                            <small *ngIf="otaModal.controls.alotment.dirty && otaModal.controls.alotment.errors?.['required']"
                                class="text-danger">Required</small>
                            <small *ngIf="otaModal.controls.alotment.dirty && otaModal.controls.alotment.errors?.['pattern']"
                                class="text-danger">Only Number</small>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="propertyName" class="col-sm-3 col-form-label">Price</label>
                        <div class="col-sm-9">
                            <select formControlName="price" class="form-select"
                            [class.is-invalid]="(otaModal.controls.price.dirty && otaModal.controls.price.errors?.['required']) || (otaModal.controls.price.dirty && otaModal.controls.price.errors?.['pattern'])">
                                <option value="" [hidden]="true">Select</option>
                                <option [value]="1">Yes</option>
                                <option [value]="0">No</option>
                            </select>
                            <small *ngIf="otaModal.controls.price.dirty && otaModal.controls.price.errors?.['required']"
                            class="text-danger">Required</small>
                        <small *ngIf="otaModal.controls.price.dirty && otaModal.controls.price.errors?.['pattern']"
                            class="text-danger">Only Number</small>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="propertyName" class="col-sm-3 col-form-label">Min Stay</label>
                        <div class="col-sm-9">
                            <select formControlName="minstay" class="form-select"
                            [class.is-invalid]="(otaModal.controls.minstay.dirty && otaModal.controls.minstay.errors?.['required']) || (otaModal.controls.minstay.dirty && otaModal.controls.minstay.errors?.['pattern'])">
                                <option value="" [hidden]="true">Select</option>
                                <option [value]="1">Yes</option>
                                <option [value]="0">No</option>
                            </select>
                            <small *ngIf="otaModal.controls.minstay.dirty && otaModal.controls.minstay.errors?.['required']"
                            class="text-danger">Required</small>
                        <small *ngIf="otaModal.controls.minstay.dirty && otaModal.controls.minstay.errors?.['pattern']"
                            class="text-danger">Only Number</small>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="propertyName" class="col-sm-3 col-form-label">Max Stay</label>
                        <div class="col-sm-9">
                            <select formControlName="maxstay" class="form-select"
                            [class.is-invalid]="(otaModal.controls.maxstay.dirty && otaModal.controls.maxstay.errors?.['required']) || (otaModal.controls.maxstay.dirty && otaModal.controls.maxstay.errors?.['pattern'])">
                                <option value="" [hidden]="true">Select</option>
                                <option [value]="1">Yes</option>
                                <option [value]="0">No</option>
                            </select>
                            <small *ngIf="otaModal.controls.maxstay.dirty && otaModal.controls.maxstay.errors?.['required']"
                            class="text-danger">Required</small>
                        <small *ngIf="otaModal.controls.maxstay.dirty && otaModal.controls.maxstay.errors?.['pattern']"
                            class="text-danger">Only Number</small>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="propertyName" class="col-sm-3 col-form-label">StopSell</label>
                        <div class="col-sm-9">
                            <select formControlName="stopsell" class="form-select"
                            [class.is-invalid]="(otaModal.controls.stopsell.dirty && otaModal.controls.stopsell.errors?.['required']) || (otaModal.controls.stopsell.dirty && otaModal.controls.stopsell.errors?.['pattern'])">
                                <option value="" [hidden]="true">Select</option>
                                <option [value]="1">Yes</option>
                                <option [value]="0">No</option>
                            </select>
                            <small *ngIf="otaModal.controls.stopsell.dirty && otaModal.controls.stopsell.errors?.['required']"
                            class="text-danger">Required</small>
                        <small *ngIf="otaModal.controls.stopsell.dirty && otaModal.controls.stopsell.errors?.['pattern']"
                            class="text-danger">Only Number</small>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="propertyName" class="col-sm-3 col-form-label">Close to Arrival</label>
                        <div class="col-sm-9">
                            <select formControlName="cta" class="form-select"
                            [class.is-invalid]="(otaModal.controls.cta.dirty && otaModal.controls.cta.errors?.['required']) || (otaModal.controls.cta.dirty && otaModal.controls.cta.errors?.['pattern'])">
                                <option value="" [hidden]="true">Select</option>
                                <option [value]="1">Yes</option>
                                <option [value]="0">No</option>
                            </select>
                            <small *ngIf="otaModal.controls.cta.dirty && otaModal.controls.cta.errors?.['required']"
                            class="text-danger">Required</small>
                        <small *ngIf="otaModal.controls.cta.dirty && otaModal.controls.cta.errors?.['pattern']"
                            class="text-danger">Only Number</small>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="propertyName" class="col-sm-3 col-form-label">Close to Departure</label>
                        <div class="col-sm-9">
                            <select formControlName="ctd" class="form-select"
                            [class.is-invalid]="(otaModal.controls.ctd.dirty && otaModal.controls.ctd.errors?.['required']) || (otaModal.controls.ctd.dirty && otaModal.controls.ctd.errors?.['pattern'])">
                                <option value="" [hidden]="true">Select</option>
                                <option [value]="1">Yes</option>
                                <option [value]="0">No</option>
                            </select>
                            <small *ngIf="otaModal.controls.ctd.dirty && otaModal.controls.ctd.errors?.['required']"
                    class="text-danger">Required</small>
                <small *ngIf="otaModal.controls.ctd.dirty && otaModal.controls.ctd.errors?.['pattern']"
                    class="text-danger">Only Number</small>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="propertyName" class="col-sm-3 col-form-label">Cut Off</label>
                        <div class="col-sm-9">
                            <select formControlName="cutoff" class="form-select"
                            [class.is-invalid]="(otaModal.controls.cutoff.dirty && otaModal.controls.cutoff.errors?.['required']) || (otaModal.controls.cutoff.dirty && otaModal.controls.cutoff.errors?.['pattern'])">
                                <option value="" [hidden]="true">Select</option>
                                <option [value]="1">Yes</option>
                                <option [value]="0">No</option>
                            </select>
                            <small *ngIf="otaModal.controls.cutoff.dirty && otaModal.controls.cutoff.errors?.['required']"
                            class="text-danger">Required</small>
                        <small *ngIf="otaModal.controls.cutoff.dirty && otaModal.controls.cutoff.errors?.['pattern']"
                            class="text-danger">Only Number</small>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row mt-3 mb-2">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary"
                    (click)="isEditModal ? editOtaDetails() :addNewOtaDetails()">{{isEditModal?'Edit':'Add'}}</button>
            </div>
        </div>
    </div>
</ng-container>