.modal-backdrop {
    background: #050505;
    opacity: 0.5;
    z-index: -1;
  }
  
  .modal {
    display: block;
    z-index: 9999;
    width: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  
    .modal-dialog {
  
      max-width: 500px !important;
    }
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
  }
  
  .delete-modal {
    max-width: 70% !important;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .dot::before {
    content: '';
    height: 10px;
    width: 10px;
    background-color: purple;
    border-radius: 50%;
    display: inline-block;
    margin: 15px;
    position: absolute;
    left: -15px;
    top: -42px;
  }
  
  .dot::after {
    content: '';
    height: 10px;
    width: 10px;
    background-color: purple;
    border-radius: 50%;
    display: inline-block;
    margin: 15px;
    position: absolute;
    left: -15px;
    top: 12px;
  }
  
  .dot {
    height: 10px;
    width: 10px;
    background-color: purple;
    border-radius: 50%;
    display: inline-block;
    position: relative;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-menu {
    position: absolute;
    left: -121px;
    top: 32px;
  }
  
  
  .table-row-rooms {
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
  
    th {
      font-weight: 600;
    }
  }

  tr>td>a{
    text-decoration: none;
    font-weight: 600;
  }

  .btn.disabled{
    background-color: lightgray;
    border: none;
  }

  .manage-owner-container{
    background-color: aliceblue;
    height: 100vh;
  }