<div class="container">
  <div class="row d-flex justify-content-center py-2">
    <div class="card mb-4 gradient-custom" style="border-radius: 25px;">
      <div class="card-body p-4">

        <div id="demo1" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="d-flex justify-content-between pb-2">
                <div>
                  <h2 class="text-dark display-2"><strong *ngIf="loader">
                      <div class="spinner-border text-success"></div>
                    </strong><strong *ngIf="!loader">{{weatherConfig?.weather?.temp_c}}°C</strong></h2>
                  <p class="text-dark mb-0">Feels Like : {{weatherConfig?.weather?.feelslike_c}}°C</p>
                  <p class="text-dark my-1">{{weatherConfig?.location?.name}}, {{weatherConfig?.location?.region}},
                    {{weatherConfig?.location?.country}}</p>
                  <p class="text-dark mb-0">{{realTime}}</p>
                </div>
                <div *ngIf="todayDate?.toLocaleTimeString()?.includes('AM')">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-weather/ilu3.webp"
                    width="150px">
                </div>
                <div class="moon" style="font-size: 5em;" *ngIf="todayDate?.toLocaleTimeString()?.includes('PM')">
                  <i class="bi bi-moon-stars-fill"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col shadow">
      <h2> Arrivals for {{todayDate|date: 'MMM,dd'}}</h2>
      <p *ngIf="totalArrivalDeparture.today_arrivals != '0' else noArrival">{{totalArrivalDeparture.today_arrivals}}</p>
      <ng-template #noArrival>No Arrivals for Today</ng-template>
      <i class="bi bi-airplane mx-1 d-inline-block fs-4 rotated"></i>
    </div>
    <div class="col shadow">
      <h2>Departures for {{todayDate|date: 'MMM,dd'}}</h2>
      <p *ngIf="totalArrivalDeparture.today_departures != '0' else noDeparture">
        {{totalArrivalDeparture.today_departures}}</p>
      <ng-template #noDeparture>No Departures for Today</ng-template>
      <i class="bi bi-airplane mx-2 fs-4 "></i>
    </div>
  </div>
</div>