<div class="container-fluid" *ngIf="!showModal.pms">
  <div class="row justify-content-center align-items-center">
    <div class="col-sm-12">
      <div class="table-wrapper shadow">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <span class="title">List PMS</span>
            </div>
            <div class="col-sm-6">
              <a href="javascript:void(0);" (click)="openModal()" class="btn btn-success" data-toggle="modal"><span>Add
                  PMS</span></a>
            </div>
          </div>
        </div>
        <table class="table table-shadow table-sm table-hover">
          <thead class="thead-dark">
            <tr class="table-row-rooms">
              <th>Parent Room ID</th>
              <th>Name</th>
              <th>Change Linen Freq.</th>
              <th>Cleaning Freq.</th>
              <th>Cleaning Status</th>
              <th>Last Cleaning Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="loader">
              <td class="tg-cly1">
              </td>
              <td class="tg-cly1">
              </td>
              <td class="tg-cly1">
              </td>
              <td class="tg-cly1">
              </td>
              <td class="tg-cly1">
              </td>
              <td class="tg-cly1">
              </td>
              <td class="tg-cly1">
              </td>
            </tr>
            <tr *ngIf="pmsData.length==0 && !loader">
              <td colspan="19" class="text-center">
                No Data
              </td>
            </tr>
            <tr *ngFor="let item of pmsData;let idx = index;" class="text-center align-middle">
              <td>{{item.parent_room_id}}</td>
              <td>{{item.name}}</td>
              <td>{{item.change_linen_frequency}}</td>
              <td>{{item.cleaning_frequency}}</td>
              <td>{{item.cleaning_status}}</td>
              <td>{{item.last_cleaning_date ? (item.last_cleaning_date|date: "dd/MM/yyyy") : todayDate|date: "dd/MM/yyyy"}}</td>
              <td>
                <div class="dropdown">
                  <i class="btn btn-light btn-sm bi bi-three-dots-vertical" (click)="showDropDown(idx)"></i>
                  <div class="dropdown-menu d-block" (mouseleave)="showActionDropDown[idx]=false;"
                    *ngIf="showActionDropDown[idx]">
                    <!-- <a class="dropdown-item">Change Status</a> -->
                    <a class="dropdown-item" (click)="editPMSOpenModal(item)">Edit Room</a>
                    <a class="dropdown-item" (click)="deletePMSModal(item.id)">Delete</a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>


<div class="container-fluid mt-2" *ngIf="showModal.pms">
  <div class="my-3 ms-2 d-flex justify-content-between ">
    <!-- <span class="h3">{{isEditModal? 'Edit':'Add'}} Room </span>
    <a href="javascript:void(0);" class="text-decoration-none" (click)="backToManageRoom()">Back To Manage Room</a> -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);" class="text-decoration-none "
            (click)="backToPMS()">Back to Manage PMS</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{isEditModal? 'Edit':'Add'}} PMS</li>
      </ol>
    </nav>
  </div>

  <div class="container p-3 shadow my-3" *ngIf="showModal.pms">
    <div class="form-group row ">
      <label class="col-sm-5 col-form-label" for="usedType">Parent Room</label>
      <div class="col-sm-7">
        <select class="form-select" id="usedType" [(ngModel)]="pmsDataConfig.parent_room_id" name="usedType">
          <option [value]="null" disabled>Select a value...</option>
          <option [value]="item.room_id" *ngFor="let item of parentRooms">{{item.room_name}}</option>
          <!-- Add other options here -->
        </select>
      </div>
    </div>
    <div class="form-group row ">
      <label class="col-sm-5 col-form-label" for="name">Name <span class="text-danger">*</span></label>
      <div class="col-sm-7">
        <input type="text" id="name" [(ngModel)]="pmsDataConfig.name" name="name">
      </div>
    </div>
    <div class="form-group row ">
      <label class="col-sm-5 col-form-label" for="priority">Priority <span class="text-danger">*</span></label>
      <div class="col-sm-7">
        <input type="number" id="priority" [(ngModel)]="pmsDataConfig.priority" name="priority" min="1" max="100">
      </div>
    </div>
    <div class="form-group row ">
      <label class="col-sm-5 col-form-label" for="linenFrequency">Change linen frequency</label>
      <div class="col-sm-7">
        <select name="" id="" class="form-select" [(ngModel)]="pmsDataConfig.change_linen_frequency">
          <option value="" disabled>Select a value...</option>
          <option value="{{idx+1}} days" *ngFor="let item of [].constructor(31);let idx= index;">
            <span *ngIf="idx == 0">1 day</span>
            <span *ngIf="idx>0">{{idx+1}} days</span>
          </option>
        </select>
      </div>
    </div>
    <div class="form-group row ">
      <label class="col-sm-5 col-form-label" for="cleaningFrequency">Cleaning frequency</label>
      <div class="col-sm-7">
        <div class="weekdays-container">
          <div *ngFor="let day of weekdays" class="border"
               [ngClass]="{'selected': isSelected(day),'shadow':isSelected(day)}"
               (click)="selectDay(day)">
            {{ day }}
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="form-group row ">
    <label class="col-sm-5 col-form-label">Cleaning days</label>
    <div class="col-sm-7">
      <div class="cleaning-days flex-wrap">
        <label class="col-sm-2 col-form-label" *ngFor="let day of ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su']">
          <input type="checkbox" name="cleaningDays{{day}}">
          {{ day }}
        </label>
      </div>
    </div>
  </div> -->
    <div class="form-group row ">
      <label class="col-sm-5 col-form-label" for="cleanStatus">Clean status</label>
      <div class="col-sm-7">
        <select id="cleanStatus" class="form-select" [(ngModel)]="pmsDataConfig.cleaning_status" name="cleanStatus">
          <option [value]="null" [selected]="true" disabled>Select a value...</option>
          <option value="Cleaned">Cleaned</option>
          <option value="To Clean">To Clean</option>
        </select>
      </div>
      <!-- Add status options here -->
    </div>
    <!-- <div class="form-group row ">
    <label class="col-sm-5 col-form-label" for="lastCleaningTime">Last cleaning time</label>
    <div class="col-sm-7">
      <div class="last-cleaning-time">
        <span>{{ pmsDataConfig.lastCleaningTime|date : 'hh:mm' }}</span>
        <button type="button" (click)="setCurrentTime()"><i class="bi bi-alarm"></i> Set current time</button>
      </div>
    </div>
  </div> -->
    <div class="form-group row ">
      <label class="col-sm-5 col-form-label" for="internalNotes">Internal notes</label>
      <div class="col-sm-7">
        <textarea id="internalNotes" [(ngModel)]="pmsDataConfig.internal_notes" name="internalNotes"></textarea>
      </div>
    </div>
    <div class="form-buttons">
      <div class="d-flex align-items-center">
        <button type="submit" class="btn btn-success" (click)="isEditModal ? editPMS() : savePMS()"
          [disabled]="loader">{{isEditModal? 'Update':'Save'}}</button>
        <div class="spinner-border text-primary mx-2" *ngIf="loader"></div>
      </div>
    </div>
  </div>
</div>

<!-- DELETE Modal -->
<div class="modal" *ngIf="showModal.delete">
  <div class="modal-dialog" role="document">
      <div class="modal-content delete-modal">
          <div class="modal-body">
              <ng-container *ngIf="showModal.delete">
                  <div class="modal-header flex-row">
                      <h4 class="modal-title w-100">Are you sure?</h4>
                      <button (click)="closeModal()" type="button" class="btn btn-sm btn-ligt close">&times;</button>
                  </div>
                  <div class="modal-body">
                      <p>Do you really want to delete the Room ?</p>
                  </div>
                  <div class="modal-footer justify-content-center">
                      <button type="button" class="btn btn-danger" data-dismiss="modal"
                          (click)="closeModal()">Cancel</button>
                      <button type="button" class="btn btn-outline-danger" (click)="deleteRoom()">Delete</button>
                  </div>
              </ng-container>
          </div>
      </div>
  </div>
</div>
<div class="modal-backdrop fade in" *ngIf="showModal.delete"></div>