<div class="container-fluid mt-3 p-4">
    <div class="row">
        <div class="col-sm-12 text-end">
            <button class="btn btn-success" (click)="openModal()">Add Rooms</button>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 pt-4 ps-4">
            <table class="table table-sm table-bordered table-striped">
                <thead class="thead-dark">
                    <tr class="table-row-rooms">
                        <th>Property Id</th>
                        <th>Room ID</th>
                        <th>Room Name</th>
                        <th>Adult</th>
                        <th>Child</th>
                        <th>Default Price</th>
                        <th>Default Quantity</th>
                        <th>Default Min</th>
                        <th>Default Max</th>
                        <th>Description</th>
                        <th>Parent Room Id</th>
                        <th>Non-Refundable</th>
                        <th>is PMS</th>
                        <th>is DORM</th>
                        <th>Cald Show</th>
                        <th>Be Show</th>
                        <th>Breakfast</th>
                        <!-- <th>is Active</th> -->
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="roomsList.length==0">
                        <td colspan="19" class="text-center">
                            No Data
                        </td>
                    </tr>
                    <tr *ngFor="let item of roomsList;let idx = index;" class="text-center align-middle">
                        <td>{{item.property_id}}</td>
                        <td>{{idx+1}}</td>
                        <td>{{item.room_name}}</td>
                        <td>{{item.adult}}</td>
                        <td>{{item.child}}</td>
                        <td>{{item.default_price}}</td>
                        <td>{{item.default_quantity}}</td>
                        <td>{{item.default_min}}</td>
                        <td>{{item.default_max}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.parent_room_id}}</td>
                        <td>{{item.nonrefundable}}</td>
                        <td>{{item.is_pms ? item.is_pms : false}}</td>
                        <td>{{item.is_dorm ? item.is_dorm:false}}</td>
                        <td>{{item.cald_show ? item.cald_show:false}}</td>
                        <td>{{item.be_show ? item.be_show:false}}</td>
                        <td>{{item.breakfast ? item.breakfast:false}}</td>
                        <!-- <td>{{item.is_active ? item.is_active:false}}</td> -->
                        <td>
                            <div class="dropdown">
                                <i class="btn btn-secondary bi bi-three-dots-vertical"
                                    (click)="showDropDown(idx)"></i>
                                <div class="dropdown-menu d-block" (mouseleave)="showActionDropDown[idx]=false;"
                                    *ngIf="showActionDropDown[idx]">
                                    <a class="dropdown-item">Change Status</a>
                                    <a class="dropdown-item" (click)="editRoomOpenModal(item)">Edit Room</a>
                                    <a class="dropdown-item" (click)="deleteRoomModal(idx)">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal" *ngIf="showModal.property||showModal.delete">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" *ngIf="showModal.property">
                <h5 class="modal-title">{{isEditModal? 'Edit':'Add'}} Room</h5>
                <button type="button" class="close" (click)="closeModal()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ng-container *ngIf="showModal.property">
                    <div [formGroup]="roomModal">
                        <div class="row mb-2">
                            <div class="col-sm-3">
                                <label for="propertyName">Parent Room Id</label>
                                <select type="text" class="form-control" formControlName="parent_room_id">
                                    <option selected="true" value="null">Select</option>
                                    <option value="1">Parent - 1 </option>
                                    <option value="2">Parent - 2 </option>
                                </select>
                                <small *ngIf="roomModal.controls.parent_room_id.dirty && roomModal.controls.parent_room_id.errors?.['required']"
                                    class="text-danger">Required</small>
                            </div>
                            <div class="col-sm-3">
                                <label for="propertyType">Room Name</label>
                                <input type="text" class="form-control" formControlName="room_name"
                                    [class.is-invalid]="roomModal.controls.room_name.dirty && roomModal.controls.room_name.errors?.['required']">
                                <small
                                    *ngIf="roomModal.controls.room_name.dirty && roomModal.controls.room_name.errors?.['required']"
                                    class="text-danger">Required</small>
                            </div>
                            <div class="col-sm-3">
                                <label for="propertyType">Adult</label>
                                <input type="text" maxlength="2" class="form-control" formControlName="adult"
                                    [class.is-invalid]="roomModal.controls.adult.dirty && roomModal.controls.adult.errors?.['required']">
                                <small
                                    *ngIf="roomModal.controls.adult.dirty && roomModal.controls.adult.errors?.['required']"
                                    class="text-danger">Required</small>
                                <small
                                    *ngIf="roomModal.controls.adult.dirty && roomModal.controls.adult.errors?.['pattern']"
                                    class="text-danger">Only Number</small>
                            </div>
                            <div class="col-sm-3">
                                <label for="propertyType">Child</label>
                                <input type="text" maxlength="2" class="form-control" formControlName="child"
                                    [class.is-invalid]="roomModal.controls.child.dirty && roomModal.controls.child.errors?.['required']">
                                <small
                                    *ngIf="roomModal.controls.child.dirty && roomModal.controls.child.errors?.['required']"
                                    class="text-danger">Required</small>
                                <small
                                    *ngIf="roomModal.controls.child.dirty && roomModal.controls.child.errors?.['pattern']"
                                    class="text-danger">Only Number</small>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-3">
                                <label for="default_price">Default Price</label>
                                <input type="text" class="form-control" formControlName="default_price">
                                <small
                                    *ngIf="roomModal.controls.default_price.dirty && roomModal.controls.default_price.errors?.['required']"
                                    class="text-danger">Required</small>
                                <small
                                    *ngIf="roomModal.controls.default_price.dirty && roomModal.controls.default_price.errors?.['pattern']"
                                    class="text-danger">Only Number</small>
                            </div>
                            <div class="col-sm-3">
                                <label for="country">Default Quantity</label>
                                <input type="text" maxlength="3" class="form-control" formControlName="default_quantity">
                                <small
                                    *ngIf="roomModal.controls.default_quantity.dirty && roomModal.controls.default_quantity.errors?.['required']"
                                    class="text-danger">Required</small>
                                <small
                                    *ngIf="roomModal.controls.default_quantity.dirty && roomModal.controls.default_quantity.errors?.['pattern']"
                                    class="text-danger">Only Number</small>
                            </div>
                            <div class="col-sm-3">
                                <label for="country">Default Min</label>
                                <input type="text" maxlength="2"  class="form-control" formControlName="default_min">
                                <small
                                    *ngIf="roomModal.controls.default_min.dirty && roomModal.controls.default_min.errors?.['required']"
                                    class="text-danger">Required</small>
                                <small
                                    *ngIf="roomModal.controls.default_min.dirty && roomModal.controls.default_min.errors?.['pattern']"
                                    class="text-danger">Only Number</small>
                            </div>
                            <div class="col-sm-3">
                                <label for="country">Default Max</label>
                                <input type="text" maxlength="3" class="form-control" formControlName="default_max">
                                <small
                                    *ngIf="roomModal.controls.default_max.dirty && roomModal.controls.default_max.errors?.['required']"
                                    class="text-danger">Required</small>
                                <small
                                    *ngIf="roomModal.controls.default_max.dirty && roomModal.controls.default_max.errors?.['pattern']"
                                    class="text-danger">Only Number</small>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <label for="description">Description</label>
                                <textarea  class="form-control" formControlName="description"></textarea>
                                <small
                                    *ngIf="roomModal.controls.description.dirty && roomModal.controls.description.errors?.['required']"
                                    class="text-danger">Required</small>
                            </div>
                            <div class="col-sm-2">
                                <label for="description">Non-Refundable</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="nonrefundable" formControlName="nonrefundable">
                                    <label class="form-check-label" for="nonrefundable"></label>
                                  </div>
                                <small
                                    *ngIf="roomModal.controls.nonrefundable.dirty && roomModal.controls.nonrefundable.errors?.['required']"
                                    class="text-danger">Required</small>
                            </div>
                            <div class="col-sm-2">
                                <label for="description">is PMS</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="is_pms" [value]="roomModal.controls.is_pms.value" formControlName="is_pms">
                                    <label class="form-check-label" for="is_pms"></label>
                                  </div>
                                <small
                                    *ngIf="roomModal.controls.is_pms.dirty && roomModal.controls.is_pms.errors?.['required']"
                                    class="text-danger">Required</small>
                            </div>
                            <div class="col-sm-2">
                                <label for="description">is Dorm</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="is_dorm" [value]="roomModal.controls.is_dorm.value" formControlName="is_dorm">
                                    <label class="form-check-label" for="is_dorm"></label>
                                  </div>
                                <small
                                    *ngIf="roomModal.controls.is_dorm.dirty && roomModal.controls.is_dorm.errors?.['required']"
                                    class="text-danger">Required</small>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-3">
                                <label for="description">Cald Show</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="cald_show"  [value]="roomModal.controls.cald_show.value"  formControlName="cald_show">
                                    <label class="form-check-label" for="cald_show"></label>
                                  </div>
                                <small
                                    *ngIf="roomModal.controls.cald_show.dirty && roomModal.controls.cald_show.errors?.['required']"
                                    class="text-danger">Required</small>
                            </div>
                            <div class="col-sm-3">
                                <label for="description">Be Show</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="be_show"   [value]="roomModal.controls.be_show.value"  formControlName="be_show">
                                    <label class="form-check-label" for="be_show"></label>
                                  </div>
                                <small
                                    *ngIf="roomModal.controls.be_show.dirty && roomModal.controls.be_show.errors?.['required']"
                                    class="text-danger">Required</small>
                            </div>
                            <div class="col-sm-3">
                                <label for="description">Breakfast</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="breakfast" [value]="roomModal.controls.breakfast.value"  formControlName="breakfast">
                                    <label class="form-check-label" for="breakfast"></label>
                                  </div>
                                <small
                                    *ngIf="roomModal.controls.breakfast.dirty && roomModal.controls.breakfast.errors?.['required']"
                                    class="text-danger">Required</small>
                            </div>
                            <!-- <div class="col-sm-3">
                                <label for="description">is Active</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="is_active"  [value]="roomModal.controls.is_active.value" [attr.checked]="roomModal.value.is_active"  formControlName="is_active">
                                    <label class="form-check-label" for="is_active"></label>
                                  </div>
                                <small
                                    *ngIf="roomModal.controls.is_active.dirty && roomModal.controls.is_active.errors?.['required']"
                                    class="text-danger">Required</small>
                            </div> -->
                        </div>
                        <div class="row mt-3 mb-2">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary"
                                    (click)="isEditModal ? editRoom() :createNewRoom()">{{isEditModal?'Edit':'Create'}}</button>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="showModal.delete">
                    <div class="modal-header flex-row">
                        <h4 class="modal-title w-100">Are you sure?</h4>
                        <button (click)="closeModal()" type="button" class="btn btn-sm btn-ligt close">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Do you really want to delete the Room ?</p>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"
                            (click)="closeModal()">Cancel</button>
                        <button type="button" class="btn btn-outline-danger" (click)="deleteRoom()">Delete</button>
                    </div>
                </ng-container>


            </div>
            <div class="modal-footer" *ngIf="showModal.property">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop fade in" *ngIf="showModal.property"></div>