<ng-container>
  
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 background-nav" [ngClass]="{'collapsed': hideNavbar}">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">Reservation Management</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a href="javascript:void(0)" routerLink="/manager/dashboard"
                                class="nav-link text-light align-middle px-0">
                                <i class="fs-4 bi bi-person-workspace"></i> <span class="ms-4 d-none d-sm-inline">{{'DASHBOARD'|translate}}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" routerLink="/manager/calendar-view"
                                class="nav-link text-light px-0 align-middle">
                                <i class="fs-4 bi-calendar3"></i> <span class="ms-4 d-none d-sm-inline">Calendar View</span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" routerLink="/manager/pms_calendar"
                                class="nav-link text-light px-0 align-middle">
                                <i class="fs-4 bi-calendar3"></i> <span class="ms-4 d-none d-sm-inline">PMS Calendar</span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" routerLink="/manager/manage-internal-mapping"
                                class="nav-link text-light px-0 align-middle">
                                <i class="fs-4 bi bi-share-fill"></i> <span class="ms-4 d-none d-sm-inline">{{'MANAGE_INTERNAL_MAPPING'|translate}}</span></a>
                        </li>
                        <li>
                            <a href="#submenu3" data-bs-toggle="collapse" class="nav-link text-light px-0 align-middle" >
                                <i class="fs-4 bi bi-house"></i> <span class="ms-4 d-none d-sm-inline">Manage Room</span> </a>
                            <ul class="collapse nav flex-column ms-5 ps-3" style="list-style: circle;" id="submenu3" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="javascript:void(0)" routerLink="/manager/manage-room" class="text-light nav-link px-0"> <span class="d-none d-sm-inline">Go to Room</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" routerLink="/manager/rate-plan" class="text-light nav-link px-0"> <span class="d-none d-sm-inline">Manage Rate Plan</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" routerLink="/manager/manage-pms" class=" text-light nav-link px-0"> <span class="d-none d-sm-inline">Manage PMS</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" routerLink="/manager/manage-housekeeping" class="text-light nav-link px-0"> <span class="d-none d-sm-inline">Manage HouseKeeping</span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#submenu4" data-bs-toggle="collapse" class="nav-link text-light px-0 align-middle">
                                <i class="fs-4 bi bi-person-lines-fill"></i> <span class="ms-4 d-none d-sm-inline">Manage OTA User</span> </a>
                            <ul class="collapse nav flex-column ms-5 ps-3" style="list-style:circle" id="submenu4" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="javascript:void(0)" routerLink="/manager/manage-ota-user" class="text-light nav-link px-0"> <span class="d-none d-sm-inline">Add/Edit User</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" routerLink="/manager/manage-ota-rooms" class="text-light nav-link px-0"> <span class="d-none d-sm-inline">Manage OTA Rooms</span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#submenu5" data-bs-toggle="collapse" class="nav-link text-light px-0 align-middle">
                                <i class="fs-4 bi bi-calendar2-week-fill"></i><span class="ms-4 d-none d-sm-inline">Manage Reservation</span> </a>
                            <ul class="collapse nav flex-column ms-5 ps-3" style="list-style:circle" id="submenu5" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="javascript:void(0)" routerLink="/manager/list-reservation" class="text-light nav-link px-0"> <span class="d-none d-sm-inline">List Reservation</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" routerLink="/manager/manage-reservation" class="text-light nav-link px-0"> <span class="d-none d-sm-inline">Add Reservation</span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)" routerLink="/manager/change_password"
                                class="nav-link text-light px-0 align-middle">
                                <i class="fs-4 bi bi-lock-fill"></i> <span class="ms-4 d-none d-sm-inline">{{'CHANGE_PASSWORD'|translate}}</span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" routerLink="/manager/user_setting"
                                class="nav-link text-light px-0 align-middle">
                                <i class="fs-4 bi bi-person-fill-gear"></i> <span class="ms-4 d-none d-sm-inline">{{'USER_SETTING'|translate}}</span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" routerLink="/manager/manage_discount"
                                class="nav-link text-light px-0 align-middle">
                                <i class="fs-4 bi bi-percent"></i> <span class="ms-4 d-none d-sm-inline">Manage Discount</span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="logout()" class="nav-link text-light px-0 align-middle mb-3">
                                <i class="fs-4 bi bi-door-closed"></i> <span class="ms-4 d-none d-sm-inline">{{'LOGOUT'|translate}}</span></a>
                        </li>
                        <div class="d-block w-100">
                            <li>
                                <a href="javascript:void(0)"  class="nav-link text-light px-0 " (click)="hideNav()">
                                    <i class="fs-4 bi" [ngClass]="{'bi-twitter-x': hideNavbar , 'bi-list': !hideNavbar}"></i> <span class="ms-4 d-none d-sm-inline"></span></a>
                                </li>

                        </div>
                    </ul>
                </div>
                <div>
                   
                </div>
            </div>
            <div class="col table-responsive">
                <div class="row py-1 background-nav ">
                    <div class="col-sm-12 text-end">
                        <div class="text-light fs-4">Hi, {{loggedUserData.user_name|titlecase}}</div>
                        <div class="text-light">
                            (
                            <small class="text-light">Last Login : {{loggedUserData.last_login_time|date:'dd MMMM yyyy, HH:mm' }}</small>
                            <small class="text-light"> Property-ID : {{currentPropertyId}}</small>
                            )
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-sm-2 my-2 w-auto">
                     <app-language-dropdown (emitToParent)="receiveChildEvent($event)"></app-language-dropdown>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
</ng-container>