.calendar-header {
  background-color: aliceblue;
  pad: 7px;
}

.controls button {
  cursor: pointer;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.month {
  font-size: 24px;
}

.weekdays,
.dates {
  text-align: center;
  font-weight: 700;

}

.weekday,
.date {
  padding: 10px;
  font-weight: 700;
}

.random-text {
  font-weight: bold;
  font-weight: 700;

}

.input-row {
  display: flex;
  flex-wrap: wrap;
}

.input-row input {
  width: 40px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.weekday-date {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}

.textRandom {
  min-width: 125px;
  padding: 10px;
  font-size: 14px;
}

#weekId>th:first-child {
  padding: 16px;
  width: 150px;
}

.disabled {
  background-color: rgb(192 187 187);
  color: white;
  pointer-events: none;
}

.small-block {
  width: 20px;
  height: 20px;

  border-radius: 10px;
  display: inline-block;

  &.green {
    background-color: green;
  }

  &.red {
    background-color: red;
  }

  &.yellow {
    background-color: yellow;
  }
}

.hover-td {
  font-size: 12px !important;
  text-align: center !important;
  padding: 7px !important;
  width: 50px !important;
  height: 45px !important;
  vertical-align: middle;

}

.hover-td:hover {
  opacity: 0.8;
  background: rgb(240, 235, 235);
}

.modal {
  display: block;
}

fieldset.scheduler-border {
  border: 1px groove #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
  box-shadow: 0px 0px 0px 0px #000;
}

legend.scheduler-border {
  font-size: 1.2em !important;
  font-weight: bold !important;
  text-align: left !important;
  width: auto;
  padding: 0 10px;
  border-bottom: none;
}

div.modal-dialog {
  max-width: 700px !important;
}

.selected-date {
  font-weight: 800;
  font-size: 15px;
}

.active {
  background-color: #8bc34a !important;
  cursor: pointer;
  color: white;
}

.activeChild {
  background-color: var(--adminBlue);
  cursor: pointer;
  color: white !important;
}

#style-7::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

// <---------------SCROLLBAR-----------------------> 

::-webkit-scrollbar {
  // width: 5px;
  height: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb:horizontal {
  // border-radius: 10px;
  background-image: -webkit-gradient(linear,
      left bottom,
      left top,
      color-stop(0.44, rgb(122, 153, 217)),
      color-stop(0.72, rgb(73, 125, 189)),
      color-stop(0.86, rgb(28, 58, 148)));
}


// <---------------END-SCROLLBAR-----------------------> 

.modal-backdrop {
  background: black;
  opacity: 0.5;
  z-index: 999;
}


.text-ellipsis {
  white-space: nowrap;
  width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.bg-primary {
  background-color: #137d92 !important;
}